@use '../../styles/colors.scss';

.app-header {
    background-color: colors.$white-color;
    min-height: 10px;
    color: colors.$blue-color;
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}