.app-header,
.app-footer {
    background-color: white;
    min-height: 10px;
    color: #42a1ef;
}

.app-header {
    display: flex;
    justify-content: space-between;
    margin-left: 15px;
    margin-right: 15px;
}

.app-footer {
    display: flex;
    justify-self: center;
    bottom: 0;
    width: 100%
}

/* STARTS - Menu */
.app-nav {
    margin: 0;
    padding: 12px;
    background-color: #363f4e;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.app-nav a {
    color: white;
    padding: 12px;
    text-decoration: none;
}

.app-nav a.active {
    background-color: #42a1ef;
    color: white;
}

.app-nav a:hover:not(.active) {
    background-color: #42a1ef;
    color: white;
}